<div>    
    <div class="col-md-6 col-md-offset-3">
        <h1>
            Validation Inscription
        </h1>
        <hr />
        <div id="competiteursGrid"></div>
    </div>
</div>
<script>
    $(document).ready(function (e) {
        var competiteurDatasource = new kendo.data.DataSource({
            group: { field: "ClubId" },
            transport: {
                read: {
                    url: "Accueil/GetCompetiteurs",
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    complete: function (jqXHR, textStatus) {
                        console.log(textStatus, "update");
                        if (textStatus === "error") {
                            $("#notification").data('kendoNotification').show({
                                title: "Echec Lecture des compétiteurs."
                            }, "error");
                        }
                    }
                },
                update: {
                    url: "Accueil/UpdateCompetiteur",
                    dataType: "json", // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                    contentType: "application/json",
                    type: "POST",
                    complete: function (jqXHR, textStatus) {
                        console.log(textStatus, "update");
                        if (textStatus === "error") {
                            $("#notification").data('kendoNotification').show({
                                title: "Echec Mise à jour."
                            }, "error");
                        }
                        else {
                            $("#notification").data('kendoNotification').show({
                                title: "Mise à jour réussie."
                            }, "success");
                        }
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                    else {
                        return kendo.stringify(options);
                    }
                }
            },
            pageSize: 25,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: {
                            //this field will not be editable (default value is true)
                            editable: false,
                            // a defaultValue will not be assigned (default value is false)
                            nullable: false
                        },
                        Nom: {
                            editable: false,
                            type: "string"
                        },
                        Prenom: {
                            //data type of the field {Number|String|Boolean|Date} default is String
                            editable: false,
                            type: "string"
                        },
                        Sexe: {
                            type: "number",
                            validation: { required: true }
                        },
                        Poids: {
                            type: "number",
                            editable: true
                        },
                        DateNaissance: {
                            editable: false,
                            type: "date"
                        },
                        InscriptionValidePourCoupe: {
                            editable: true,
                            type: "boolean"
                        },
                        ClubId: {
                            editable: false,
                            field: "ClubId",
                            type: "number",
                            defaultValue: 1
                        },
                        Categorie: {
                            editable: false,
                            type: "number"
                        },
                        LicenceFFKDA: {
                            editable: false,
                            type: "string"
                        }
                    }
                }
            }
        });      

        var clubsDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    async: false,
                    url: "../QVKApi/GetClubs",
                    dataType: "json",
                    complete: function (jqXHR, textStatus) {
                        console.log(textStatus, "update");
                        if (textStatus === "error") {
                            $("#notification").data('kendoNotification').show({
                                title: "Echec Lecture des clubs."
                            }, "error");
                        }
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                    else {
                        return kendo.stringify(options);
                    }
                }
            },
            schema: {
                parse: function (data) {
                    var clubs = [];
                    for (var i = 0; i < data.length; i++) {
                        var club = {
                            value: data[i].Id,
                            text: data[i].Nom
                        };
                        clubs.push(club);
                    }
                    return clubs;
                },
                model: {
                    id: "Id",
                    fields: {
                        Id: {
                            editable: false,
                            nullable: false
                        },
                        Nom: {
                            type: "string"
                        }
                    }
                }
            }
        });
        clubsDataSource.read();

        $("#competiteursGrid").kendoGrid({
            dataSource: competiteurDatasource,
            pageable: {
                refresh: true,
                pageSize: 25,
                pageSizes: [10, 25, 50]
            },
            autosync: true,
            groupable: true,
            filterable: true,
            toolbar: false,
            columns: [
                { field: "Nom", title: "Nom", groupable: false },
                { field: "Prenom", title: "Prénom", groupable: false, filterable: false },
                { field: "ClubId", values: clubsDataSource.data().toJSON(), title: "Club" },
                {
                    field: "DateNaissance", groupable: false, filterable: false, title: "Date de Naissance", template: '#= kendo.toString(DateNaissance, "dd/MM/yyyy") #',
                    groupHeaderTemplate: 'Date de Naissance : #=  kendo.toString(value, "dd/MM/yyyy") #'
                },
                { field: "InscriptionValidePourCoupe", title: "Inscription validée", groupable: false, filterable: false, template: '<input type="checkbox" #= InscriptionValidePourCoupe ? "checked=checked" : "" # disabled="disabled" ></input>' }
            ],
            editable: "incell",
            save: function (e) {
                setTimeout(function () {
                    $('#competiteursGrid').data('kendoGrid').dataSource.sync();
                });
            }
        });
    });

</script>
