<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="CoupeQuachVanKeContext" providerName="System.Data.SqlClient" connectionString="Data Source=TSTSUPSQ1201;Initial Catalog=FGF_QVK;Integrated Security=False;User Id=itesoft;Password=itesoft;MultipleActiveResultSets=True" />-->
    <!--<add name="FGF_QVKEntities" connectionString="metadata=res://*/CoupeQuachVanKe.csdl|res://*/CoupeQuachVanKe.ssdl|res://*/CoupeQuachVanKe.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tstsupsq1201;initial catalog=FGF_QVK;persist security info=True;user id=itesoft;password=itesoft;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CoupeQuachVanKeContext" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=CoupeQuachVanKe;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="CoupeQuachVanKeContext" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=CoupeQuachVanKe2;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="CoupeQuachVanKeContext" providerName="System.Data.SqlClient" connectionString="Data Source=I7-6700K\SQLEXPRESS;Initial Catalog=CoupeQVK;Persist Security Info=True;User ID=fgfaure;Password=fgfaure" />-->
    <add name="CoupeQuachVanKeContext" providerName="System.Data.SqlClient" connectionString="Data Source=I7-6700K\MSSQLPC2017;Initial Catalog=CoupeQVK2019;Integrated Security=False;User ID=coupeQVK2017;Password=coupeQVK2017;Encrypt=False;TrustServerCertificate=False" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>