<h1>Connexion</h1>

<div class="stack float-left">
    <h2>Se connecter avec un compte existant</h2>
    <form id="logForm" action="#">
        <ul>
            <li>
                <label for="dropdownLog">Identifiant</label>
                <input id="dropdownLog" name="dropdownLog" required />
                <span class="k-invalid-msg" data-for="dropdownLog"></span>
            </li>
            <li>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="k-textbox" name="password" required />
                <span class="k-invalid-msg" data-for="password"></span>
            </li>
            <li><a href="#" class="k-button" id="logMe">Connexion</a></li>           
        </ul>
    </form>
</div>

<div class="stack float-right">
    <h2>Enregistrer un nouveau compte</h2>
    <form id="registerForm" action="#">
        <ul>
            <li>
                <label for="logAs">Nom</label>
                <input id="logAs" class="k-textbox" name="logAs" required />
                <span class="k-invalid-msg" data-for="logAs"></span>
            </li>
            <li>
                <label for="account">Type de compte</label>
                <input id="account" name="account" required />
                <span class="k-invalid-msg" data-for="account"></span>
            </li>
            <li>
                <label for="password1">Mot de Passe</label>
                <input id="password1" class="k-textbox" type="password" name="password1" required />
                <span class="k-invalid-msg" data-for="password1" ></span>
            </li>
            <li>
                <label for="password2">Confirmation</label>
                <input id="password2" class="k-textbox" type="password" name="password2" required />
                <span class="k-invalid-msg" data-for="password2"></span>
            </li>
            <li><a href="#" class="k-button" id="registerBtn">Enregistrer</a></li>
        </ul>
    </form>

</div>
<script>
    $(document).ready(function () {
        var clients = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetClients",
                    cache: false,
                    dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                }
            }
        });

        var clientTypes = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetClientTypes",
                    dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                }
            }
        });

        var validator = $("#logForm").kendoValidator({
            messages: {
                required : "Champ requis"
            }
        }).data("kendoValidator");
        var validator2 = $("#registerForm").kendoValidator({
            messages: {
                required: "Champ requis"
            }
        }).data("kendoValidator");

        $("#dropdownLog").kendoDropDownList({
            dataTextField: "logName",
            dataValueField: "clientId",
            optionLabel: "Choisir un compte",
            dataSource: clients,
            change: function () {
                validator.validate();
            }
        });

        $("#account").kendoDropDownList({
            dataTextField: "ClientType",
            dataValueField: "Id",
            optionLabel: "Choisir un type de compte",
            dataSource: clientTypes,
            change: function () {
                validator2.validate();
            }
        });

        $("#registerBtn").off('click').on('click', function (e) {
            if (validator2.validate()) {
                var client = {};
                client.ClientName = $("#logAs").val();
                client.NetClientTypeId = $("#account").data('kendoDropDownList').value();
                client.Password = $("#password1").val();
                client.ConfirmPassword = $("#password2").val();

                $.ajax({
                    cache: false,
                    type: 'POST',
                    async: true,
                    url: "RegisterClient",
                    data: JSON.stringify(client),
                    contentType: 'application/json',
                    dataType: 'json',
                }).fail(function (err) {
                    console.log("unable to register");
                }).success(function (result) {
                    if (result.success) {
                        $("#dropdownLog").data('kendoDropDownList').dataSource.read();
                    }
                });
            }
        });

        $("#logMe").on('click', function (e) {
            if (validator.validate()) {
                var log = {};
                log.AccountId = $("#dropdownLog").data('kendoDropDownList').value();
                log.Password = $("#password").val();

                $.ajax({
                    cache: false,
                    type: 'POST',
                    async: true,
                    url: "Login",
                    data: JSON.stringify(log),
                    contentType: 'application/json',
                    dataType: 'json',
                }).success(function (result) {
                    if (result.success) {
                        window.document.location = result.url;
                    }
                }).fail(function (result) {
                    if (result.status != 200) {
                        console.log("unable to log in");
                    }
                    else {
                        window.document.location = result.url;
                    }
                });
            }
        });
    });

</script>
