<div class="col-md-4 col-md-offset-4">
    <h1>Connexion</h1>
    <form id="logForm" action="#">
        <ul class="list-unstyled">
            <li class="list-group-item-heading">
                <label for="dropdownLog">Identifiant</label>
                <input id="dropdownLog" name="dropdownLog" required />
                <span class="k-invalid-msg" data-for="dropdownLog"></span>
            </li>
            <li class="list-group-item-heading">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" class="k-textbox" name="password" required />
                <span class="k-invalid-msg" data-for="password"></span>
            </li>
            <li class="list-group-item-heading"><a href="#" class="k-button" id="logMe">Connexion</a></li>
        </ul>
    </form>
</div>
<script>
    $(document).ready(function () {

        var clients = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "GetClients",
                    cache: false,
                    dataType: "json",
                    complete: function (jqXHR, textStatus) {
                        console.log(textStatus, "update");
                        if (textStatus === "error") {
                            $("#notification").data('kendoNotification').show({
                                title: "Echec Lecture des clients réseaux."
                            }, "error");
                        }
                    }
                }
            }
        });        

        var validator = $("#logForm").kendoValidator({
            messages: {
                required : "Champ requis"
            }
        }).data("kendoValidator");
      
        $("#dropdownLog").kendoDropDownList({
            dataTextField: "logName",
            dataValueField: "clientId",            
            dataSource: clients,
            change: function () {
                validator.validate();
            }
        });      

        $("#logMe").on('click', function (e) {
            if (validator.validate()) {
                var log = {};
                log.AccountId = $("#dropdownLog").data('kendoDropDownList').value();
                log.Password = $("#password").val();

                $.ajax({
                    cache: false,
                    type: 'POST',
                    async: true,
                    url: "Login",
                    data: JSON.stringify(log),
                    contentType: 'application/json',
                    dataType: 'json',
                }).success(function (result) {
                    if (result.success) {
                        window.document.location = result.url;
                    }
                }).fail(function (result) {
                    if (result.status != 200) {
                        console.log("unable to log in");
                        $("#notification").data('kendoNotification').show({
                            title: "Connexion refusée!"
                        }, "error");
                    }
                    else {
                        window.document.location = result.url;
                    }
                });
            }
        });
    });

</script>
