<div>
    <div class="col-md-8 col-md-offset-2">
        <h1>
            Saisie des poids
        </h1>
        <hr />
        <div id="combattantsGrid"></div>
    </div>    
</div>
<script>
    $(document).ready(function (e) {  
        var combattantDS = new kendo.data.DataSource({
            group: { field: "ClubId" },
            transport: {
                read: {
                    cache: false,
                    url: "Saisie/GetCompetiteurs",
                    contentType: "application/json; charset=utf-8",
                    type: "GET",
                    dataType: "json",
                    complete: function (jqXHR, textStatus) {
                        console.log(textStatus, "update");
                        if (textStatus === "error") {
                            $("#notification").data('kendoNotification').show({
                                title: "Echec Lecture des compétiteurs."
                            }, "error");
                        }
                    }
                },
                update: {
                    url: "Saisie/UpdateCompetiteur",
                    dataType: "json", // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                    contentType: "application/json",
                    type: "POST",
                    complete: function (jqXHR, textStatus) {
                        console.log(textStatus, "update");
                        if (textStatus === "error") {
                            $("#notification").data('kendoNotification').show({
                                title: "Echec Mise à jour."
                            }, "error");
                        }
                        else {
                            $("#notification").data('kendoNotification').show({
                                title: "Mise à jour réussie."
                            }, "success");
                            $("#combattantsGrid").data("kendoGrid").dataSource.read();
                        }
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                    else {
                        return kendo.stringify(options);
                    }
                }
            },
            pageSize: 25,
            schema: {                
                model: {
                    id: "Id",
                    fields: {
                        Id: {
                            //this field will not be editable (default value is true)
                            editable: false,
                            // a defaultValue will not be assigned (default value is false)
                            nullable: false
                        },
                        Nom: {
                            editable: false,
                            type: "string"
                        },
                        Prenom: {
                            editable: false,
                            type: "string"
                        },
                        Sexe: {
                            type: "number",
                            validation: { required: true }
                        },
                        Poids: {
                            type: "number",
                            editable: true
                        },
                        DateNaissance: {
                            editable: false,
                            type: "date"
                        },
                        InscriptionValidePourCoupe: {
                            editable: true,
                            type: "boolean"
                        },
                        ClubId: {
                            editable: false,
                            field: "ClubId",
                            type: "number",
                            defaultValue: 1
                        },
                        Categorie: {
                            editable: false,
                            type: "number"
                        },
                        LicenceFFKDA: {
                            editable: false,
                            type: "string"
                        },
                        NbPesee: {
                            editable: false,
                            type: "number"
                        }
                    }
                }
            }
        });

        var clubsDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    cache: false,
                    async: false,
                    url: location.href+"/../QVKApi/GetClubs",
                    dataType: "json",
                    complete: function (jqXHR, textStatus) {
                        console.log(textStatus, "update");
                        if (textStatus === "error") {
                            $("#notification").data('kendoNotification').show({
                                title: "Echec Lecture des clubs."
                            }, "error");
                        }
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                    else {
                        return kendo.stringify(options);
                    }
                }
            },
            schema: {
                parse: function (data) {
                    var clubs = [];
                    for (var i = 0; i < data.length; i++) {
                        var club = {
                            value: data[i].Id,
                            text: data[i].Nom
                        };
                        clubs.push(club);
                    }
                    return clubs;
                },
                model: {
                    id: "Id",
                    fields: {
                        Id: {                            
                            editable: false,                            
                            nullable: false
                        },
                        Nom: {
                            type: "string"
                        }
                    }
                }
            }
        });
        clubsDataSource.read();

        function weightEditor(container, options) {
            $('<input data-text-field="' + options.field + '" data-value-field="' + options.field + '" data-bind="value:' + options.field + '"/>')
                    .appendTo(container)
                    .kendoNumericTextBox({
                        decimal: 1,
                        min: 0,
                        max: 150,
                        step: 0.1,
                        format: "#.000 kg"
                    });
        }

        $("#combattantsGrid").kendoGrid({
            dataSource: combattantDS,         
            pageable: {
                refresh: true,
                pageSize: 25,
                pageSizes: [10, 25, 50]
            },
            autosync: true,
            groupable: true,
            filterable: true,
            toolbar: false,
            columns: [
                { field: "Nom", title: "Nom", groupable: false },
                { field: "Prenom", title: "Prénom", groupable: false, filterable: false },
                { field: "ClubId", values: clubsDataSource.data().toJSON(), title: "Club" },                
                {
                    field: "DateNaissance", groupable: false, filterable: false, title: "Date de Naissance", template: '#= kendo.toString(DateNaissance, "dd/MM/yyyy") #',
                    groupHeaderTemplate: 'Date de Naissance : #=  kendo.toString(value, "dd/MM/yyyy") #'
                },
                { field: "Poids", groupable: false, filterable: false, title: "Poids", editor: weightEditor, template: '#= kendo.toString(Poids,"\\#.000 kg") #' },    
                { field: "NbPesee", groupable: false, filterable: false, title: "Nombre de pesées", editable: false},    
            ],
            editable: "incell",
            save: function (e) {
                setTimeout(function () {
                    $('#combattantsGrid').data('kendoGrid').dataSource.sync();
                });
            }
        });
    });

</script>
