
    <div class="col-sm-2">
        @RenderPage("../Shared/_Menu.cshtml")
    </div>
    <div class="col-sm-10">
        <h2>Liste des Catégories de Poids</h2>
        <div id="categoriesPoids">
        </div>
    </div>
