<div>
    <div class="col-md-4 col-md-offset-4">
        <h1>Gestion d'épreuve</h1>
        <hr />
        <div id="buttons"></div>
    </div>
</div>
<script src="@System.Web.VirtualPathUtility.ToAbsolute("~/Scripts/jquery.timer.js")"></script>
<script>
    var timer;
    var techBtn = $('<a class="btn btn-primary btn-lg" role="button" href="/Satellite/EpreuveTechnique">Ouvrir l\'épreuve</a>');
    var btn = $('<a class="btn btn-primary btn-lg" role="button">Ouvrir l\'épreuve</a>');
    var combBtn = $('<a class="btn btn-primary btn-lg" role="button" href="/Satellite/EpreuveCombat">Ouvrir l\'épreuve</a>');
    function ajaxCall() {
        return $.ajax({
            cache: false,
            type: 'GET',
            async: true,
            url: "Satellite/GetEpreuve"
        });
    }

    function ajaxSucceeded(result) {
        if (result.foundContest) {
            $("#buttons").children().remove();
            if (result.technique) {
                btn.attr('href', location.href + "/EpreuveTechnique");
                $("#buttons").append(btn);
            }
            else {
                btn.attr('href', location.href + "/EpreuveCombat");
                $("#buttons").append(btn);
            }
            $("#notification").data('kendoNotification').show({
                title: "Epreuve disponible."
            }, "success");
            timer.stop();
        }
        else {
            $("#notification").data('kendoNotification').show({
                title: "Aucune Epreuve disponible."
            }, "info");
        }
    }

    function ajaxFailed(err) {
        $("#notification").data('kendoNotification').show({
            title: "Erreur."
        }, "error");
    }

    $(document).ready(function (e) {     
        $(window).on('unload', function () {
            console.log('unlog');
            window.location = location.href + "/../Auth/LogOut";
        });   

        $.ajax({
            cache: false,
            type: 'GET',
            async: true,
            url: "Satellite/GetEpreuve"
        }).success(function (result) {
            if (result.foundContest) {
                $("#buttons").children().remove();
                if (result.technique) {
                    btn.attr('href', location.href + "/EpreuveTechnique");
                    $("#buttons").append(btn);
                }
                else {
                    btn.attr('href', location.href + "/EpreuveCombat");
                    $("#buttons").append(btn);
                }           
            }
            else {
                $("#notification").data('kendoNotification').show({
                    title: "Pas d'Epreuve affectée à votre table."
                }, "info");
                timer = $.timer(function () {
                    ajaxCall()
                        .success(ajaxSucceeded)
                        .fail(ajaxFailed);
                });
                timer.set({ time: 15000, autostart: true });
            }
        }).fail(ajaxFailed);
    });
</script>