<h1>Satellite</h1>
    <a class="btn btn-primary" role="button" href="/Satellite/EpreuveTechnique">Technique</a>
    <a class="btn btn-primary" role="button" href="/Satellite/EpreuveCombat">Combat</a>
<script>
    $(document).ready(function (e) {

    });
</script>